@import '../../variables';

.main-top-item{
  flex-grow: 4;
  flex-shrink: 2;
  
  width: 225px;
  height: 60px;
  padding:5px;
  margin-left: 2.5px;
  margin-right: 2.5px;
  margin-bottom: 5px;
  
  background-color: $colorE;
  @include borderRadius(5px);
  

}