@import '../../variables';

.main-con{
  display:flex;
  flex-direction: column;
  width: 100%;
  // flex: 1 1 150px;
  margin-left: 0px;
  margin-top: 5px;
  background-color: $colorD;
  
  @include borderRadius(5px);
}