@import '../../variables';

.main-top{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  max-width: 100%;
  height: 145px;
  
  margin: 5px;
  
  background-color: $colorC;
  @include borderRadius(5px);
  

}